.card {
	width: 600px;
	color: #0a2540;
}

.mainActions {
	padding: 30px;
	display: flex;
  justify-content: space-between;
	width: 100%;
}

.mainActions ul {
	display: flex;
	flex-direction: column;
}

.mainActions ul li {
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin: 1rem 0;
}

.mainActions ul li p {
	margin-left: 5px;
}

.mainActions ul li svg {
	color: #88add2;
	margin-right: 5px;
}

.footer {
	background-color: #f6f9fc;
	width: 100%;
	height: 100%;
	padding: 25px 30px;
}

.footer h5 {
	display: flex;
	align-items: center;
	font-size: .9rem;
	margin-bottom: 10px;
  font-weight: 500;
}

.footer h5 svg {
	color: #88add2;
	margin-right: 7px;
}

.footer ul {
	font-size: .9rem;
  list-style-type: none;
}

.footer ul li {
	margin: 5px 0;
}

.actions li {
	display: flex;
	align-items: center;
	margin: 2rem 0;
  min-width: 250px;
}

.actions li h5 {
  font-size: 1.1rem;
	text-transform: uppercase;
	color: #88add2;
	margin-bottom: 10px;
}

.description {
  font-size: .875em;
	margin-left: 13px;
	font-weight: 500;
}

.description > :last-child {
  font-size: .875em;
	color: rgb(136, 152, 170);
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(136, 152, 170);
	width: 35px;
	height: 35px;
}

.icons svg {
	color: white;
	font-size: 40px;
}

.title {
  font-size: .8em;
  color: rgb(136, 152, 170);
  font-weight: 500;
  text-transform: uppercase;
}

.link {
  font-size: .75em;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.action {
  cursor: pointer;
}

.action > .description > p {
  transition: color 120ms;
}

.action:hover > .description > p {
  color: #0a2540 !important;
}
