.card {
	width: 600px;
	color: #0a2540;
	display: flex;
	flex-direction: column;
	padding: 1rem 3rem;
}

.card > :first-child {
  justify-content: space-between;
	display: flex;
}

.actions li {
	display: flex;
	align-items: center;
	margin: 2rem 0;
  min-width: 250px;
}

.actions li h5 {
  font-size: 1.1rem;
	text-transform: uppercase;
	color: #88add2;
	margin-bottom: 10px;
}

.description {
  font-size: .875em;
	margin-left: 13px;
	font-weight: 500;
}

.description > :last-child {
  font-size: .875em;
	color: rgb(136, 152, 170);
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(136, 152, 170);
	width: 35px;
	height: 35px;
}

.icons svg {
	color: white;
	font-size: 40px;
}

.title {
  font-size: .8em;
  color: rgb(136, 152, 170);
  font-weight: 500;
  text-transform: uppercase;
}

.link {
  font-size: .75em;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.action {
  cursor: pointer;
}

.action > .description > p {
  transition: color 120ms;
}

.action:hover > .description > p {
  color: #0a2540 !important;
}
