$active-border: 2px solid $gray-600

.btn
  display: inline-block
  padding: .9rem
  border: 0
  background-color: $primary
  color: $white
  font-size: $font-size-sm
  border: none
  border-radius: $border-radius-lg
  text-align: center
  cursor: pointer
  transition: background-color 150ms

  &:hover
    background-color: darken($primary, 15%)

  &--is-bordered
    border: $active-border
    background-color: transparent
