@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import "tailwindcss/base";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
p {
    line-height: 1.6;
}

:root {
    --font-size: 14px;

    --transition-quick: 50ms;
    --transition-fast: 150ms;
    --transition-medium: 300ms;
    --transition-long: 450ms;

    --color-base: #FFC233;
    --color-blue: #A7CEEF;
    --color-red: #C9A3A4;
    --color-lavender: #B8BBD3;
    --color-white: white;
    --color-light-gray: #F7F7F9;
    --color-gray: #848484;
    --color-dark-gray: #181818;
    --color-dark-gray-2: #262626;
    --color-black: #111111;

    --color-bg-dark: var(--color-black);
    --color-bg-light: var(--color-dark-gray);
    --color-type-base: var(--color-light-gray);
    --color-type-mute: var(--color-gray);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-gray) rgba(0, 0, 0, 0);
}

html,
body,
#root {
    background-color: var(--color-bg-dark);
    color: var(--color-light-gray);
    font-size: var(--font-size);
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}
