@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import url('http://fonts.cdnfonts.com/css/sf-mono');
@import "tailwindcss/base";
@import "tailwindcss/utilities";

input:checked + div {
    @apply border-primary-100;
}

input:checked + div svg {
    @apply block;
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.6;
}

:root {
    --font-size: 14px;
    --color-primary-100: #DEE3EA;
    --color-primary-200: #B2BDCD;
    --color-primary-300: #5D7290;
    --color-primary-600: #323D4D;
    --color-primary-700: #242C37;
    --color-primary-800: #151A21;
    --color-primary-900: #0B0E11;
    --color-secondary: #5575E7;
    --color-secondary-washed-out: #879EED;
    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;
    --color-green: #2DCA72;
    --color-white: #FFFFFF;
    --gradient-color-1: #0039A6;
    --gradient-color-2: #5575E7;
    --gradient-color-3: #7038FF;
    --gradient-color-4: #FFBA27;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-700) transparent;
}

html,
body,
#root {
    background-color: var(--color-primary-900);
    color: var(--color-primary-100);
    font-size: var(--font-size);
    font-feature-settings: "pnum";
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

::-moz-selection {
    background-color: rgb(179, 212, 252);
    color: black;
    text-shadow: none;
}

::selection {
  background-color: rgb(179, 212, 252);
  color: black;
  text-shadow: none;
}

.cesium-viewer-animationContainer {
    display: none;
}

.cesium-viewer-bottom {
    display: none;
}

.cesium-viewer {
    position: absolute;
    left: 300px;
    max-width: calc(100% - 300px);
}

@media only screen and (max-width: 1024px) {
    .cesium-viewer {
        left: 0;
        max-width: 100%;
    }
}
