@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import url('http://fonts.cdnfonts.com/css/sf-mono');
@import "tailwindcss/base";
@import "tailwindcss/utilities";

input:checked + div {
    @apply border-primary;
}

input:checked + div svg {
    @apply block;
}


h1,
h2,
h3,
h4,
p {
    line-height: 1.6;
}

:root {
    --font-size: 14px;

    --transition-quick: 50ms;
    --transition-fast: 150ms;
    --transition-medium: 300ms;
    --transition-long: 450ms;

    --color-base: #FFC233;
    --color-blue: #A7CEEF;
    --color-red: #C9A3A4;
    --color-lavender: #B8BBD3;
    --color-white: white;
    --color-light-gray: #F7F7F9;
    --color-gray: #848484;
    --color-dark-gray: #181818;
    --color-dark-gray-2: #262626;
    --color-black: #111111;
    --color-green: #2DCA72;
    --color-red: #DC143C;

    --color-bg-dark: var(--color-black);
    --color-bg-light: var(--color-dark-gray);
    --color-type-base: var(--color-light-gray);
    --color-type-mute: var(--color-gray);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-gray) rgba(0, 0, 0, 0);
}

html,
body,
#root {
    background-color: var(--color-bg-dark);
    color: var(--color-light-gray);
    font-size: var(--font-size);
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

::-moz-selection {
    background-color: rgb(179, 212, 252);
    color: black;
    text-shadow: none;
}

::selection {
  background-color: rgb(179, 212, 252);
  color: black;
  text-shadow: none;
}

.cesium-viewer-animationContainer {
    display: none;
}

.cesium-viewer-bottom {
    display: none;
}

.cesium-viewer {
    position: absolute;
    left: 300px;
    max-width: calc(100% - 300px);
}

@media only screen and (max-width: 1024px) {
    .cesium-viewer {
        left: 0;
        max-width: 100%;
    }
}

.page {
  margin-top: 80px;
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 80px;
}
